<div class="move-card darksecret-card">
  {{#let
    anchorName=(getUniqueID "darksecret-card-anchor")
    popoverID=(getUniqueID "darksecret-card-popover")
  }}
  <div class="item-interaction-target" data-item-id="{{_id}}" data-actor-id="{{actorID}}" data-item-type="darksecret" popovertarget="{{popoverID}}" style="anchor-name: --{{anchorName}}">
    <div class="item-draggable darksecret-info item-name" data-item-id="{{_id}}">
      <a class="move-card-text move-show"> <img src="{{img}}" title="{{name}}" /> {{name}} </a>
    </div>
    <div class="item-charge-indicator"></div>
  </div>
  <div id="{{popoverID}}"
    style="position-anchor: --{{anchorName}};"
    popover>
    {{{system.drive}}}
  </div>
  {{/let}}
  {{> "modules/eunos-kult-hacks/templates/sheets/partials/item-controls.hbs" view=true show=true isGM=isGM id=_id }}
</div>
