<div class="gear-card move-card {{#if system.usesMax}}counter-Uses{{/if}}">
  {{#let
    anchorName=(getUniqueID "move-card-anchor")
    popoverID=(getUniqueID "move-card-popover")
  }}
  <span class="is-equipped-container">
    <a class="item-toggle-equipped" data-item-id="{{_id}}" title="{{#if system.isEquipped}}Equipped{{else}}Not Equipped{{/if}}">
      <i class="{{#if system.isEquipped}}fas fa-hand-rock{{else}}far fa-hand{{/if}}"></i>
    </a>
  </span>
  <div class="item-interaction-target" data-item-id="{{_id}}" data-actor-id="{{actorID}}" data-item-type="gear" popovertarget="{{popoverID}}" style="anchor-name: --{{anchorName}}">
    <div class="move-info {{type}}-info item-name" data-item-id="{{_id}}">
      {{#if system.armor}}
        <span class="armor-value">
          <i class="far fa-shield"></i>
          <span class="value">{{system.armor}}</span>
        </span>
      {{/if}}
      <a class="move-show">{{name}}</a>
      {{#if system.usesMax}}
        {{{getDotline system.uses system.usesMax}}}
      {{/if}}
    </div>
    <div class="item-charge-indicator"></div>
  </div>

  <div id="{{popoverID}}"
    class="gear-tooltip"
    style="position-anchor: --{{anchorName}};"
    popover>
    {{{system.description}}}
    {{#if system.usesMax}}
      <label>Uses:</label><span>{{system.uses}}/{{system.usesMax}}</span>
    {{/if}}
  </div>

  {{> "modules/eunos-kult-hacks/templates/sheets/partials/item-controls.hbs" view=true show=true trash=true isGM=isGM id=_id }}
  {{/let}}
</div>
