<div
  class="move-card {{type}}-card {{#if system.hasTokens}}has-tokens{{/if}} {{#if system.hasHold}}{{#if isGM}}has-tokens has-hold{{/if}}{{/if}}">
  {{#let
  anchorName=(getUniqueID "move-card-anchor")
  popoverID=(getUniqueID "move-card-popover")
  tooltip=(getTooltip actorID _id)
  }}
  {{log "ActorID: " actorID}}
  {{log "ItemID: " _id}}
  {{log "Tooltip: " tooltip}}
  <div class="item-draggable {{type}}-info item-name" data-item-id="{{_id}}" {{#if
    tooltip}}popovertarget="{{popoverID}}" style="anchor-name: --{{anchorName}}" {{/if}}>
    {{#if (eq system.type "active")}}
    <a class="move-roll">
      {{else}}
      <a class="move-show">
        {{/if}}
        <img src="{{img}}" title="{{name}}" /> {{name}} </a>
      {{#if system.hasTokens}}
      <span class="advantage-column">Edges:
        <a class="token-add" title="{{localize 'k4lt.AddEdge'}}"><i class="far fa-plus-square"></i></a>
        {{#if system.tokens}}{{system.tokens}}{{else}}0{{/if}}
        <a class="token-spend" title="{{localize 'k4lt.SpendEdge'}}"><i class="far fa-minus-square"></i></a>
      </span>
      {{/if}}
      {{#if system.hasHold}}{{#if isGM}}
      <span class="advantage-column">Hold:
        <a class="token-add" title="Add Hold"><i class="far fa-plus-square"></i></a>
        {{#if system.holdTokens}}{{system.holdTokens}}{{else}}0{{/if}}
        <a class="token-spend" title="Spend Hold"><i class="far fa-minus-square"></i></a>
      </span>
      {{/if}}{{/if}}


  </div>

  {{#if tooltip}}
  <div id="{{popoverID}}" style="position-anchor: --{{anchorName}};" popover>
    {{{tooltip}}}
  </div>
  {{/if}}
  {{> "modules/eunos-kult-hacks/templates/sheets/partials/item-controls.hbs" view=true show=true isGM=isGM id=_id }}
  {{/let}}
</div>
