<div class="move-card">
  <div class="move-info item-name" data-item-id="{{_id}}">
    <img src="{{img}}" title="{{name}}"/>
    <a class="move-card-text item-edit">{{name}}
    <br>({{system.occupation.archetype}})</a>
    <a class="item-control item-delete" title="REMOVE"><i style="color: red;" class="fas fa-trash"></i></a>
  </div>
</div>
