<div class="move-card relationship-card relationship-card-{{system.strength}}">
  {{#let
  anchorName=(getUniqueID "relationship-card-anchor")
  popoverID=(getUniqueID "relationship-card-popover")
  }}
  <div class="item-interaction-target" data-item-id="{{_id}}" data-actor-id="{{actorID}}" data-item-type="relationship"  popovertarget="{{popoverID}}" style="anchor-name: --{{anchorName}}">
    <div class="move-info item-name" data-item-id="{{_id}}">
      <a class="move-card-text move-show"> {{system.target}} ({{system.subtitle}})</a>
    </div>
    <div class="item-charge-indicator"></div>
  </div>

  <div id="{{popoverID}}"
    class="relationship-tooltip"
    style="position-anchor: --{{anchorName}};"
    popover>
    <h1>{{system.target}}</h1>
    <h2>{{system.subtitle}}</h2>
    {{{system.description}}}
    <div class="flex-row">
      <label>Strength:</label> <span>{{#if (eq system.strength 0)}}Neutral{{else if (eq system.strength 1)}}Meaningful{{else if (eq system.strength 2)}}Vital{{/if}}</span>
    </div>
  </div>

  {{> "modules/eunos-kult-hacks/templates/sheets/partials/item-controls.hbs" view=true show=true isGM=isGM id=_id }}
  {{/let}}
</div>
