<div class="weapon-card move-card">
  {{#let
  anchorName=(getUniqueID "move-card-anchor")
  popoverID=(getUniqueID "move-card-popover")
  }}
  <span class="is-equipped-container">
    <a class="item-toggle-equipped" data-item-id="{{_id}}"
      title="{{#if system.isEquipped}}Equipped{{else}}Not Equipped{{/if}}">
      <i class="{{#if system.isEquipped}}fas fa-hand-rock{{else}}far fa-hand{{/if}}"></i>
    </a>
  </span>
  <div class="item-interaction-target" data-item-id="{{_id}}" data-actor-id="{{actorID}}" data-item-type="weapon" popovertarget="{{popoverID}}"
      style="anchor-name: --{{anchorName}}">
    <div class="move-info {{type}}-info item-name" data-item-id="{{_id}}">
      <a class="move-roll">{{name}} </a>
      {{#if (eq system.class "Firearm")}}
      {{{getDotline system.ammo.value system.ammo.max}}}
      {{/if}}
    </div>
    <div class="item-charge-indicator"></div>
  </div>

  <div id="{{popoverID}}"
    class="weapon-tooltip"
    style="position-anchor: --{{anchorName}};"
    popover>
    <div class="weapon-class">{{system.class}}</div>
    {{#if system.special}}
    <div class="weapon-special">{{{system.special}}}</div>
    {{/if}}
  </div>

  {{#if (eq system.class "Firearm")}}
  {{#if (lt system.ammo.value system.ammo.max)}}
  <span class="reload-container">
    <a class="reload-button" data-item-id="{{_id}}" title="Reload Weapon">
      <i class="fa-regular fa-person-rifle"></i>
    </a>
  </span>
  {{/if}}
  {{/if}}
  {{> "modules/eunos-kult-hacks/templates/sheets/partials/item-controls.hbs" view=true show=true trash=true isGM=isGM
  id=_id }}
  {{/let}}
</div>
{{#if system.isEquipped}}
{{#each system.attacks as |attack i|}}
<div class="weapon-attack-block {{#if (gt attack.ammoCost ../system.ammo.value)}}insufficient-ammo{{/if}}" data-item-id="{{../_id}}" data-attack-index="{{i}}">
  <div class="attack-top-row">
    <div class="attack-harm">{{attack.harm}}</div>
    <div class="attack-name">{{attack.name}}</div>
    {{#if (eq ../system.class "Firearm")}}
    {{{getDotline attack.ammoCost attack.ammoCost}}}
    {{/if}}
  </div>
  {{#unless (eq attack.special "")}}
  <div class="attack-bottom-row">
    <div class="attack-special"><span class="down-arrow">↳</span> <em>{{attack.special}}</em></div>
  </div>
  {{/unless}}
</div>
{{/each}}
{{/if}}
