<div class="weapon-card move-card">
  {{#let
  anchorName=(getUniqueID "move-card-anchor")
  popoverID=(getUniqueID "move-card-popover")
  }}
  <span class="is-equipped-container">
    <a class="item-toggle-equipped" data-item-id="{{_id}}"
      title="{{#if system.isEquipped}}Equipped{{else}}Not Equipped{{/if}}">
      <i class="{{#if system.isEquipped}}fas fa-hand-rock{{else}}far fa-hand{{/if}}"></i>
    </a>
  </span>
  <div class="move-info {{type}}-info item-name" data-item-id="{{_id}}" popovertarget="{{popoverID}}"
    style="anchor-name: --{{anchorName}}">
    <a class="move-roll">{{name}} </a>
    {{#if (eq system.class "Firearm")}}
    {{{getDotline system.ammo.value system.ammo.max}}}
    {{/if}}
  </div>

  <div id="{{popoverID}}" class="weapon-tooltip" style="position-anchor: --{{anchorName}};" popover>
    <h1>{{name}}</h1>
    <h2>{{system.class}} <em>({{system.subClass}})</em></h2>

      <div class="flex-row">
        <label>Range:</label>
        <span>{{system.range}}</span>
      </div>

    {{#if (eq system.class "Firearm")}}
      <div class="flex-row">
        <label>Ammo:</label>
        <span>{{system.ammo.value}}/{{system.ammo.max}}</span>
      </div>

    {{/if}}
  </div>

  {{#if (eq system.class "Firearm")}}
  {{#if (lt system.ammo.value system.ammo.max)}}
  <span class="reload-container">
    <a class="reload-button" data-item-id="{{_id}}" title="Reload Weapon">
      <i class="fa-regular fa-person-rifle"></i>
    </a>
  </span>
  {{/if}}
  {{/if}}
  {{> "modules/eunos-kult-hacks/templates/sheets/partials/item-controls.hbs" view=true show=true trash=true isGM=isGM
  id=_id }}
  {{/let}}
</div>
{{#if system.isEquipped}}
{{#each system.attacks as |attack i|}}
<div class="weapon-attack-block {{#if (gt attack.ammoCost ../system.ammo.value)}}insufficient-ammo{{/if}}" data-item-id="{{../_id}}" data-attack-index="{{i}}">
  <div class="attack-top-row">
    <div class="attack-harm">{{attack.harm}}</div>
    <div class="attack-name">{{attack.name}}</div>
    {{#if (eq ../system.class "Firearm")}}
    {{{getDotline attack.ammoCost attack.ammoCost}}}
    {{/if}}
  </div>
  {{#unless (eq attack.special "")}}
  <div class="attack-bottom-row">
    <div class="attack-special"><span class="down-arrow">↳</span> <em>{{attack.special}}</em></div>
  </div>
  {{/unless}}
</div>
{{/each}}
{{/if}}
