<div class="npc-portrait" style="left: {{x}}px; top: {{y}}px;" data-actor-id="{{actor.id}}">
  <img class="npc-portrait-image" src="{{actor.img}}" alt="{{actor.name}}" />
  <div class="npc-portrait-name">{{actor.name}}</div>
</div>
