<div id="STAGE" class="eunos-overlay-stage">
  <div id="BLACKOUT-LAYER"></div>
  <section id="SECTION-3D" class="master-layer">
    <section class="canvas-layer background-layer"></section>
    <section class="canvas-layer under-layer"></section>
  </section>
  <section id="MAIN-STAGE">
    <div class="location-container">
      <div class="location-name">{{location.name}}</div>
      {{#if location.img}}
      <img class="location-image" src="{{location.img}}" alt="{{location.name}}" />
      {{/if}}
      {{#if location.description}}
      <div class="location-description">{{location.description}}</div>
      {{/if}}
    </div>
    <div class="npcs-container">
      {{#each npcsData as |npc index|}}
      {{#let
      anchorName=(getUniqueID "npc-container-anchor")
      popoverID=(getUniqueID "npc-container-popover")
      tooltip=npc.description
      }}
      <div class="npc-container npc-container-index-{{index}}" data-npc-id="{{npc.id}}" {{#if
        tooltip}}popovertarget="{{popoverID}}" style="anchor-name: --{{anchorName}}" {{/if}}>
        <div class="npc-name">{{npc.name}}</div>
        <img class="npc-image" src="{{npc.img}}" alt="{{npc.name}}" />
        <div class="npc-description">{{npc.system.shortDescription}}</div>
      </div>
      {{#if tooltip}}
      <div id="{{popoverID}}" style="position-anchor: --{{anchorName}};" popover>
        {{{tooltip}}}
      </div>
      {{/if}}
      <div class="npc-container-spotlight npc-container-spotlight-index-{{index}}" data-npc-id="{{npc.id}}"
        data-is-spotlit="{{npc.system.isSpotlit}}"></div>
      {{/let}}
      {{/each}}
    </div>
    <div class="pcs-container">
      {{#each pcsData as |pc|}}
      {{log "PC DATA" pc}}
      <div class="pc-container" data-pc-id="{{pc.id}}">
        <div class="pc-portrait-container {{#unless (test pc.id " in"
          ../pcsPresent)}}pc-portrait-container-dimmed{{/unless}}" data-action="pcPortraitClick">
          <img class="pc-portrait" src="{{pc.img}}" alt="{{pc.name}}" />
          {{#if (eq ../sessionScribeID pc.id)}}
          <div class="session-scribe-indicator">
            <i class="fas fa-quill"></i>
          </div>
          {{/if}}
          {{#if (eq ../dramaticHookCandleID pc.id)}}
          <div class="dramatic-hook-candle-indicator">
            <i class="fas fa-candle"></i>
          </div>
          {{/if}}
        </div>
        {{#if ../isGM}}
        <div class="dramatic-hooks-panel">
          <div class="dramatic-hook-container {{#if system.dramatichooks.dramatichook1.isChecked}}checked{{/if}}">
            <div class="dramatic-hook-content">{{system.dramatichooks.dramatichook1.content}}</div>
          </div>
          <div class="dramatic-hook-container {{#if system.dramatichooks.dramatichook2.isChecked}}checked{{/if}}">
            <div class="dramatic-hook-content">{{system.dramatichooks.dramatichook2.content}}</div>
          </div>
        </div>
        <div class="stability-panel">
          {{#let
            anchorName=(getUniqueID "stability-anchor")
            popoverID=(getUniqueID "stability-popover")
          }}
          <div class="stability-number" popovertarget="{{popoverID}}" style="anchor-name: --{{anchorName}}">
            {{system.stability.value}}
          </div>
          <div id="{{popoverID}}" style="position-anchor: --{{anchorName}};" popover>
            {{../stabilityState}}
          </div>
          {{/let}}
          <div class="stability-conditions">
            {{> "modules/eunos-kult-hacks/templates/apps/eunos-overlay/partials/condition-card.hbs"
            system.conditionAngry name="Angry"}}
            {{> "modules/eunos-kult-hacks/templates/apps/eunos-overlay/partials/condition-card.hbs"
            system.conditionDistracted name="Distracted"}}
            {{> "modules/eunos-kult-hacks/templates/apps/eunos-overlay/partials/condition-card.hbs"
            system.conditionGuiltRidden name="Guilt Ridden"}}
            {{> "modules/eunos-kult-hacks/templates/apps/eunos-overlay/partials/condition-card.hbs"
            system.conditionHaunted name="Haunted"}}
            {{> "modules/eunos-kult-hacks/templates/apps/eunos-overlay/partials/condition-card.hbs"
            system.conditionObsessed name="Obsessed"}}
            {{> "modules/eunos-kult-hacks/templates/apps/eunos-overlay/partials/condition-card.hbs"
            system.conditionSad name="Sad"}}
            {{> "modules/eunos-kult-hacks/templates/apps/eunos-overlay/partials/condition-card.hbs"
            system.conditionScared name="Scared"}}
          </div>
        </div>
        <div class="wounds-panel">

        </div>

        <div class="triggers-and-holds-panel">

        </div>


        {{/if}}
      </div>
      {{/each}}
    </div>
  </section>
</div>
