{{!-- {{log "PCS-GM CONTAINER" this}} --}}

<div id="PCS-GM" class="pcs-container pcs-container-gm gm-only">
  <div class="master-control-container">
    <button class="pc-stage-control-button pc-stage-control-button-wake-all" data-action="wakeAllPCs">
      <i class="fa-solid fa-sun"></i>
    </button>
    <button class="pc-stage-control-button pc-stage-control-button-sleep-all" data-action="sleepAllPCs">
      <i class="fa-solid fa-moon"></i>
    </button>
    <button class="pc-stage-control-button pc-stage-control-button-end-scene" data-action="endScene" title="End Scene">
      <i class="fa-solid fa-flag-checkered"></i>
    </button>
  </div>
  {{#each locationData.pcData }}
  <div class="pc-container {{#if (eq state " base")}}pc-container-base{{/if}} {{#if (eq state "dimmed"
    )}}pc-container-dimmed{{/if}} {{#if (eq state "hidden" )}}pc-container-hidden{{/if}} {{#if (eq state "spotlit"
    )}}pc-container-spotlit{{/if}} {{#if (eq state "masked" )}}pc-container-masked{{/if}}" data-pc-id="{{actorID}}"
    data-slot="{{slot}}">

    {{#if actor}}
    <div class="dramatic-hooks-panel">
      <div class="dramatic-hook-container {{#if actor.system.dramatichooks.dramatichook1.isChecked}}checked{{/if}}" data-pc-id="{{actorID}}" data-hook-id="dramatichook1">
        <div class="dramatic-hook-content">{{actor.system.dramatichooks.dramatichook1.content}}</div>
      </div>
      <div class="dramatic-hook-container {{#if actor.system.dramatichooks.dramatichook2.isChecked}}checked{{/if}}" data-pc-id="{{actorID}}" data-hook-id="dramatichook2">
        <div class="dramatic-hook-content">{{actor.system.dramatichooks.dramatichook2.content}}</div>
      </div>
    </div>
    {{/if}}

    <div class="pc-portrait-container-wrapper">
      <div class="pc-portrait-container" data-action="pcPortraitClick">
        {{#if actor}}
        <img class="pc-portrait" src="{{actor.img}}" />
        {{/if}}
      </div>
      <span class="pc-name">{{getFirstName actor}}</span>
      {{#if (eq ../sessionScribeID ownerID)}}
      <div class="session-scribe-indicator">
        <i class="fas fa-quill"></i>
      </div>
      {{/if}}
      {{#if actor}}
      <div class="stability-panel">
        {{#let
        anchorName=(getUniqueID "stability-anchor")
        popoverID=(getUniqueID "stability-popover")
        }}
        <div class="stability-number" popovertarget="{{popoverID}}" style="anchor-name: --{{anchorName}}">
          {{actor.system.stability.value}}
        </div>
        <div id="{{popoverID}}" style="position-anchor: --{{anchorName}};" popover>
          {{actor.stabilityState}}
        </div>
        {{/let}}
        <div class="stability-conditions">
          {{> "modules/eunos-kult-hacks/templates/apps/eunos-overlay/partials/condition-card.hbs"
          actor.system.conditionAngry name="Angry"}}
          {{> "modules/eunos-kult-hacks/templates/apps/eunos-overlay/partials/condition-card.hbs"
          actor.system.conditionDistracted name="Distracted"}}
          {{> "modules/eunos-kult-hacks/templates/apps/eunos-overlay/partials/condition-card.hbs"
          actor.system.conditionGuiltRidden name="Guilt Ridden"}}
          {{> "modules/eunos-kult-hacks/templates/apps/eunos-overlay/partials/condition-card.hbs"
          actor.system.conditionHaunted name="Haunted"}}
          {{> "modules/eunos-kult-hacks/templates/apps/eunos-overlay/partials/condition-card.hbs"
          actor.system.conditionObsessed name="Obsessed"}}
          {{> "modules/eunos-kult-hacks/templates/apps/eunos-overlay/partials/condition-card.hbs"
          actor.system.conditionSad name="Sad"}}
          {{> "modules/eunos-kult-hacks/templates/apps/eunos-overlay/partials/condition-card.hbs"
          actor.system.conditionScared name="Scared"}}
        </div>
      </div>
      <div class="wounds-panel">
        {{#unless (eq actor.system.criticalwound.state "none")}}
        <div class="critical-wound critical-wound-{{actor.system.criticalwound.state}}" data-action="criticalWoundClick"
          , data-wound-name="{{actor.system.criticalwound.value}}" data-actor-name="{{actor.name}}">
          {{actor.system.criticalwound.value}}
        </div>
        {{/unless}}
        {{#unless (eq actor.system.majorwound1.state "none")}}
        <div class="major-wound major-wound-{{actor.system.majorwound1.state}}" data-action="seriousWoundClick" ,
          data-wound-name="{{actor.system.majorwound1.value}}" data-actor-name="{{actor.name}}">
          {{actor.system.majorwound1.value}}
        </div>
        {{/unless}}
        {{#unless (eq actor.system.majorwound2.state "none")}}
        <div class="major-wound major-wound-{{actor.system.majorwound2.state}}" data-action="seriousWoundClick" ,
          data-wound-name="{{actor.system.majorwound2.value}}" data-actor-name="{{actor.name}}">
          {{actor.system.majorwound2.value}}
        </div>
        {{/unless}}
        {{#unless (eq actor.system.majorwound3.state "none")}}
        <div class="major-wound major-wound-{{actor.system.majorwound3.state}}" data-action="seriousWoundClick" ,
          data-wound-name="{{actor.system.majorwound3.value}}" data-actor-name="{{actor.name}}">
          {{actor.system.majorwound3.value}}
        </div>
        {{/unless}}
        {{#unless (eq actor.system.majorwound4.state "none")}}
        <div class="major-wound major-wound-{{actor.system.majorwound4.state}}" data-action="seriousWoundClick" ,
          data-wound-name="{{actor.system.majorwound4.value}}" data-actor-name="{{actor.name}}">
          {{actor.system.majorwound4.value}}
        </div>
        {{/unless}}
      </div>
      <div class="pc-stage-control-container">
        <button class="pc-stage-control-button pc-stage-control-button-spotlight" data-action="togglePCSpotlight"
          data-actor-id="{{actorID}}" data-value="{{eq state "spotlit"}}">
          <i class="fas fa-lightbulb"></i>
        </button>
        <button class="pc-stage-control-button pc-stage-control-button-base" data-action="togglePCBase"
          data-actor-id="{{actorID}}" data-value="{{eq state "base"}}">
          <i class="fas fa-sun"></i>
        </button>
        <button class="pc-stage-control-button pc-stage-control-button-dim" data-action="togglePCDimmed"
          data-actor-id="{{actorID}}" data-value="{{eq state "dimmed"}}">
          <i class="fa-solid fa-moon"></i>
        </button>
        <button class="pc-stage-control-button pc-stage-control-button-hide" data-action="togglePCHidden"
          data-actor-id="{{actorID}}" data-value="{{eq state "hidden"}}">
          <i class="fas fa-eye-slash"></i>
        </button>
      </div>
    </div>
    <div class="triggers-and-holds-panel">
      <div class="panel advantages-panel">
        {{#each actor.system.advantages}}
        {{#unless (eq system.type "passive")}}
        {{#let
        advantageAnchorName=(getUniqueID "advantage-anchor")
        advantagePopoverID=(getUniqueID "advantage-popover")
        itemID=id
        pcID=../actorID
        }}
        {{!-- {{log "ADVANTAGE" this}} --}}


        <div
          class="trait-container advantage-container {{system.type}}-advantage {{#if system.hasCounter}}counter-{{case "
          lower" system.counterName}}{{/if}}" popovertarget="{{advantagePopoverID}}"
          style="anchor-name: --{{advantageAnchorName}}">
          <div class="trait-name advantage-name">
            {{name}}
          </div>
          {{#if system.trigger}}
          <div class="trait-trigger">{{{system.trigger}}}</div>
          {{/if}}
          {{#if system.hasCounter}}
          {{{getDotline system.counterCount system.counterCount}}}
          <span class="counter-column">{{system.counterName}}:
            <a class="token-add" title="Add {{system.counterName}}" data-action="addCounter" data-item-id="{{itemID}}"
              data-actor-id="{{pcID}}"><i class="far fa-plus-square"></i></a>
            {{#if system.counterCount}}{{system.counterCount}}{{else}}0{{/if}}
            <a class="token-spend" title="Spend {{system.counterName}}" data-action="spendCounter"
              data-item-id="{{itemID}}" data-actor-id="{{pcID}}"><i class="far fa-minus-square"></i></a>
          </span>
          {{/if}}
        </div>
        {{#if system.summary}}
        <div id="{{advantagePopoverID}}" style="position-anchor: --{{advantageAnchorName}};" popover>
          {{{system.summary}}}
        </div>
        {{/if}}
        {{/let}}
        {{/unless}}
        {{/each}}
      </div>
      <div class="panel disadvantages-panel">
        {{#each actor.system.disadvantages}}
        {{#unless (eq system.type "passive")}}
        {{#let
        disadvantageAnchorName=(getUniqueID "disadvantage-anchor")
        disadvantagePopoverID=(getUniqueID "disadvantage-popover")
        itemID=id
        pcID=../actorID
        }}
        {{!-- {{log "DISADVANTAGE" this}} --}}

        <div
          class="trait-container disadvantage-container {{system.type}}-disadvantage {{#if system.hasCounter}}counter-{{case "
          lower" system.counterName}}{{/if}}" popovertarget="{{disadvantagePopoverID}}"
          style="anchor-name: --{{disadvantageAnchorName}}">
          <div class="trait-name disadvantage-name">
            {{name}}
          </div>
          {{#if system.trigger}}
          <div class="trait-trigger">{{{system.trigger}}}</div>
          {{/if}}
          {{#if system.hasCounter}}
          {{{getDotline system.counterCount system.counterCount}}}
          <span class="counter-column">{{system.counterName}}:
            <a class="token-add" title="Add {{system.counterName}}" data-action="addCounter" data-item-id="{{itemID}}"
              data-actor-id="{{pcID}}"><i class="far fa-plus-square"></i></a>
            {{#if system.counterCount}}{{system.counterCount}}{{else}}0{{/if}}
            <a class="token-spend" title="Spend {{system.counterName}}" data-action="spendCounter"
              data-item-id="{{itemID}}" data-actor-id="{{pcID}}"><i class="far fa-minus-square"></i></a>
          </span>
          {{/if}}

        </div>

        {{#if system.summary}}
        <div id="{{disadvantagePopoverID}}" style="position-anchor: --{{disadvantageAnchorName}};" popover>
          {{{system.summary}}}
        </div>
        {{/if}}
        {{/let}}
        {{/unless}}
        {{/each}}
      </div>
    </div>
    {{else}}
  </div>
  {{/if}}
</div>
{{/each}}
</div>
