<div id="PCS" class="pcs-container {{#if isGM}}pcs-container-gm{{/if}}">
  {{log "THIS" this}}
  {{#each pcsData as |pc|}}
  {{log "PC DATA" pc}}
  <div class="pc-container" data-pc-id="{{pc.id}}">
    <div class="pc-portrait-container {{#unless (test ../pcsPresent "includes" pc.id)}}pc-portrait-container-dimmed{{/unless}}" data-action="pcPortraitClick">
      <img class="pc-portrait" src="{{pc.img}}" alt="{{pc.name}}" />
      {{#if (eq ../sessionScribeID pc.id)}}
      <div class="session-scribe-indicator">
        <i class="fas fa-quill"></i>
      </div>
      {{/if}}
      {{#if (eq ../dramaticHookCandleID pc.id)}}
      <div class="dramatic-hook-candle-indicator">
        <i class="fas fa-candle"></i>
      </div>
      {{/if}}
    </div>
    {{#if ../isGM}}
    <div class="dramatic-hooks-panel">
      <div class="dramatic-hook-container {{#if system.dramatichooks.dramatichook1.isChecked}}checked{{/if}}">
        <div class="dramatic-hook-content">{{system.dramatichooks.dramatichook1.content}}</div>
      </div>
      <div class="dramatic-hook-container {{#if system.dramatichooks.dramatichook2.isChecked}}checked{{/if}}">
        <div class="dramatic-hook-content">{{system.dramatichooks.dramatichook2.content}}</div>
      </div>
    </div>
    <div class="stability-panel">
      {{#let
      anchorName=(getUniqueID "stability-anchor")
      popoverID=(getUniqueID "stability-popover")
      }}
      <div class="stability-number" popovertarget="{{popoverID}}" style="anchor-name: --{{anchorName}}">
        {{system.stability.value}}
      </div>
      <div id="{{popoverID}}" style="position-anchor: --{{anchorName}};" popover>
        {{../stabilityState}}
      </div>
      {{/let}}
      <div class="stability-conditions">
        {{> "modules/eunos-kult-hacks/templates/apps/eunos-overlay/partials/condition-card.hbs"
        system.conditionAngry name="Angry"}}
        {{> "modules/eunos-kult-hacks/templates/apps/eunos-overlay/partials/condition-card.hbs"
        system.conditionDistracted name="Distracted"}}
        {{> "modules/eunos-kult-hacks/templates/apps/eunos-overlay/partials/condition-card.hbs"
        system.conditionGuiltRidden name="Guilt Ridden"}}
        {{> "modules/eunos-kult-hacks/templates/apps/eunos-overlay/partials/condition-card.hbs"
        system.conditionHaunted name="Haunted"}}
        {{> "modules/eunos-kult-hacks/templates/apps/eunos-overlay/partials/condition-card.hbs"
        system.conditionObsessed name="Obsessed"}}
        {{> "modules/eunos-kult-hacks/templates/apps/eunos-overlay/partials/condition-card.hbs"
        system.conditionSad name="Sad"}}
        {{> "modules/eunos-kult-hacks/templates/apps/eunos-overlay/partials/condition-card.hbs"
        system.conditionScared name="Scared"}}
      </div>
    </div>
    <div class="wounds-panel">

    </div>
    <div class="triggers-and-holds-panel">
      <div class="panel advantages-panel">
        {{#each system.advantages}}
        {{#unless (eq system.type "passive")}}
        {{#let
        advantageAnchorName=(getUniqueID "advantage-anchor")
        advantagePopoverID=(getUniqueID "advantage-popover")
        itemID=id
        pcID=pc.id
        }}
        {{log "ADVANTAGE" this}}


        <div class="trait-container advantage-container {{system.type}}-advantage">
          <div class="trait-name advantage-name" popovertarget="{{advantagePopoverID}}"
            style="anchor-name: --{{advantageAnchorName}}">
            {{name}}
          </div>
          {{#if system.summary}}
          <div id="{{advantagePopoverID}}" style="position-anchor: --{{advantageAnchorName}};" popover>
            {{{system.summary}}}
          </div>
          {{/if}}
          {{#if system.trigger}}
          <div class="trait-trigger">{{{system.trigger}}}</div>
          {{/if}}
          {{#if system.hasHold}}
          {{{getDotline system.holdTokens system.holdTokens}}}
          <span class="hold-column">Hold:
            <a class="token-add" title="Add Hold" data-action="addHold" data-item-id="{{itemID}}"
              data-actor-id="{{pcID}}"><i class="far fa-plus-square"></i></a>
            {{#if system.holdTokens}}{{system.holdTokens}}{{else}}0{{/if}}
            <a class="token-spend" title="Spend Hold" data-action="spendHold" data-item-id="{{itemID}}"
              data-actor-id="{{pcID}}"><i class="far fa-minus-square"></i></a>
          </span>
          {{/if}}
        </div>

        {{/let}}
        {{/unless}}
        {{/each}}
      </div>
      <div class="panel disadvantages-panel">
        {{#each system.disadvantages}}
        {{#unless (eq system.type "passive")}}
        {{#let
        disadvantageAnchorName=(getUniqueID "disadvantage-anchor")
        disadvantagePopoverID=(getUniqueID "disadvantage-popover")
        itemID=id
        pcID=pc.id
        }}
        {{log "DISADVANTAGE" this}}


        <div class="trait-container disadvantage-container {{system.type}}-disadvantage">
          <div class="trait-name disadvantage-name" popovertarget="{{disadvantagePopoverID}}"
            style="anchor-name: --{{disadvantageAnchorName}}">
            {{name}}
          </div>
          {{#if system.summary}}
          <div id="{{disadvantagePopoverID}}" style="position-anchor: --{{disadvantageAnchorName}};" popover>
            {{{system.summary}}}
          </div>
          {{/if}}
          {{#if system.trigger}}
          <div class="trait-trigger">{{{system.trigger}}}</div>
          {{/if}}
          {{#if system.hasHold}}
          {{{getDotline system.holdTokens system.holdTokens}}}
          <span class="hold-column">Hold:
            <a class="token-add" title="Add Hold" data-action="addHold" data-item-id="{{itemID}}"
              data-actor-id="{{pcID}}"><i class="far fa-plus-square"></i></a>
            {{#if system.holdTokens}}{{system.holdTokens}}{{else}}0{{/if}}
            <a class="token-spend" title="Spend Hold" data-action="spendHold" data-item-id="{{itemID}}"
              data-actor-id="{{pcID}}"><i class="far fa-minus-square"></i></a>
          </span>
          {{/if}}
        </div>

        {{/let}}
        {{/unless}}
        {{/each}}
      </div>
    </div>
    {{/if}}
  </div>
  {{/each}}
</div>
