<div id="NPCS-GM" class="npcs-container npcs-container-gm gm-only">
  {{!-- {{#each npcsData as |npc index|}}
  {{#let
  anchorName=(getUniqueID "npc-container-anchor")
  popoverID=(getUniqueID "npc-container-popover")
  tooltip=npc.description
  }}
  <div class="npc-container npc-container-index-{{index}}" data-npc-id="{{npc.id}}" {{#if
    tooltip}}popovertarget="{{popoverID}}" style="anchor-name: --{{anchorName}}" {{/if}}>
    <div class="npc-name">{{npc.name}}</div>
    <img class="npc-image" src="{{npc.img}}" alt="{{npc.name}}" />
    <div class="npc-description">{{npc.system.shortDescription}}</div>
  </div>
  {{#if tooltip}}
  <div id="{{popoverID}}" style="position-anchor: --{{anchorName}};" popover>
    {{{tooltip}}}
  </div>
  {{/if}}
  <div class="npc-container-spotlight npc-container-spotlight-index-{{index}}" data-npc-id="{{npc.id}}"
    data-is-spotlit="{{npc.system.isSpotlit}}"></div>
  {{/let}}
  {{/each}} --}}
</div>
