<form class="{{cssClass}} darksecret-sheet" autocomplete="off">
  {{> "modules/eunos-kult-hacks/templates/sheets/partials/item-header.hbs" }}
  <div class="kult-item-sheet">
    <div class="editor-row">
      <label>{{localize "k4lt.Description"}}:</label>
      <div>{{editor system.description target="system.description" button=true owner=owner editable=editable}}</div>
    </div>
    <div class="editor-row">
      <label>Personal Drive:</label>
      <div>{{editor system.drive target="system.drive" button=true owner=owner editable=editable}}</div>
    </div>
    <div class="editor-row">
      <label>How Did This Lead You to Emma's Rise?</label>
      <div>{{editor system.emmas_rise target="system.emmas_rise" button=true owner=owner editable=editable}}</div>
    </div>
  </div>
</form>
