<div class="loading-screen-item item-home-{{case "lower" home}}">
  <div class="loading-screen-item-image">
    <img src="{{image}}" alt="{{title}}">
  </div>
  <div class="loading-screen-item-title">
    <span>{{prefix}}</span>
    <span><strong>{{title}}</strong></span>
  </div>
  <div class="loading-screen-item-subtitle">
    {{subtitle}}
  </div>
  <div class="loading-screen-item-home">
    <span>Native to</span>
    <span><strong>{{home}}</strong></span>
  </div>
  <div class="loading-screen-item-body">
    {{{body}}}
  </div>
</div>
