<div class="npc-portrait npc-portrait-{{state}}" style="opacity: 0;" data-actor-id="{{actor.id}}" data-state="{{state}}">
  <div class="npc-portrait-container">
    <div class="npc-portrait-frame">
      <img class="npc-portrait-image" src="{{actor.img}}" alt="{{actor.name}}" />
    </div>
  </div>
  <div class="npc-portrait-name-container">
    <div class="npc-portrait-name">{{actor.name}}</div>
  </div>
  <div class="npc-portrait-shadow"></div>
  <div class="npc-smoke-effect-container">
    <img class="npc-smoke-effect" src="" />
  </div>
</div>
