<div class="npc-portrait npc-portrait-{{state}}" data-actor-id="{{actor.id}}" style="opacity: 0;">
  <div class="npc-portrait-controls gm-controls">
    <i class="fas fa-times npc-remove-btn" data-action="removeNPC"></i>
    <i class="fas fa-grip-vertical npc-drag-handle"></i>
  </div>
  <div class="npc-portrait-container">
    <div class="npc-portrait-frame">
      <img class="npc-portrait-image" src="{{actor.img}}" alt="{{actor.name}}" />
    </div>
  </div>
  <div class="npc-portrait-name">{{actor.name}}</div>
  <div class="npc-portrait-controls state-controls">
    <button class="npc-stage-control-button npc-stage-control-button-spotlight" data-action="toggleNPCSpotlight"
      data-actor-id="{{actor.id}}" data-value="{{eq state "spotlit"}}">
      <i class="fas fa-lightbulb"></i>
    </button>
    <button class="npc-stage-control-button npc-stage-control-button-base" data-action="toggleNPCBase"
      data-actor-id="{{actor.id}}" data-value="{{eq state "base"}}">
      <i class="fas fa-sun"></i>
    </button>
    <button class="npc-stage-control-button npc-stage-control-button-dimmed" data-action="toggleNPCDimmed"
      data-actor-id="{{actor.id}}" data-value="{{eq state "dimmed"}}">
      <i class="fa-solid fa-moon"></i>
    </button>
    <button class="npc-stage-control-button npc-stage-control-button-shrouded" data-action="toggleNPCShrouded"
      data-actor-id="{{actor.id}}" data-value="{{eq state "shrouded"}}">
      <i class="fa-solid fa-mask"></i>
    </button>
    <button class="npc-stage-control-button npc-stage-control-button-invisible" data-action="toggleNPCInvisible"
      data-actor-id="{{actor.id}}" data-value="{{eq state "invisible"}}">
      <i class="fas fa-eye-slash"></i>
    </button>
  </div>
</div>
