<div class="npc-portrait npc-portrait-invisible npc-portrait-name-{{nameState}} {{#if (isLocationBright)}}npc-portrait-bright {{#if (isOutdoors)}}npc-portrait-goggles{{/if}}{{/if}}" data-actor-id="{{actor.id}}" data-portrait-state="{{portraitState}}" data-name-state="{{nameState}}" data-goggles-state="{{#if (isOutdoors)}}goggles{{else}}noGoggles{{/if}}" data-action="openNPCSheet">
  <div class="npc-portrait-container">
    <div class="npc-portrait-frame">
      <img class="npc-portrait-image npc-portrait-image-base" src="{{actor.img}}" />
      <img class="npc-portrait-image npc-portrait-image-goggles" src="{{getGogglesImg actor}}" />
    </div>
  </div>
  <div class="npc-portrait-name-container">
    <div class="npc-portrait-name">{{actor.name}}</div>
    {{#if (test actor.system.isShortDescVisible "&&" actor.system.shortDescription)}}
    <div class="npc-portrait-short-description">{{{actor.system.shortDescription}}}</div>
    {{/if}}
  </div>
  <div class="npc-portrait-shadow">
    <img class="npc-portrait-shadow-image" src="{{actor.img}}" />
  </div>
  <video
    class="npc-smoke-effect"
    playsinline
    muted
    src="modules/eunos-kult-hacks/assets/images/stage/npc-frame/smoke-pillar-{{#if (isLocationBright)}}dark{{else}}bright{{/if}}.webm"
    style="visibility: hidden;"
  ></video>
</div>
